i {
    background-color: darkorange;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container {
    width: 100vw;
}
.card-front {
    background-color: green;
    width: 200px;
    height: 200px;
    overflow:hidden;
}
.card-front img {
    width: 100%;
}
.card-back {
    background-color: red;
    transform: rotateX(180deg) translateZ(1px);
    width: 200px;
    height: 200px;
}
#card {
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 2s;
    width: 200px;
    height: 200px;
}
#card.flipped {
    transform: rotateY(180deg);
}