<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student API</title>
</head>
<body>
    <h1>Add Students</h1>
    <form action="/api/students" method="POST">
        <label for="lastName">First Name</label>
        <input id="firstName" type="text" name="firstName">
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" name="lastName">
        <label for="meme_url">Meme Url</label>
        <input id="meme_url" type="text" name="meme_url">
        <button>Submit</button>
    </form>
</body>
</html>